@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $body_font_family;
}

p {
    font-size: $p_font_size;
}

body {
    background-color: $body_bg_color;
    height: 100vh;
    @include display(flex, center, center, none);

    main {
        background-color: $main_bg_color;
        height: 410px;
        width: 410px;
        padding: 30px;
        border-radius: 25px;
        @include display(flex, space-between, none, column);

        .star {
            @include display(flex, center, center, none);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $item_bg_color;
        }

        .description {
            height: 100px;
            width: 350px;
            line-height: 27px;

            h1 {
                color: $white;
            }

            p {
                color: $p_color;
            }
        }

        .rating_container {
            height: 60px;
            width: 350px;
            @include display(flex, space-between, none, none);

            .item {
                cursor: pointer;
                width: 55px;
                height: 55px;
                background-color: $item_bg_color;
                border-radius: 50%;
                @include display(flex, center, center, none);
                color: $p_color;

                &:focus {
                    background-color: $white;
                    color: $body_bg_color;
                }   

                &:hover {
                    color: $body_bg_color;
                    background-color: $item_hover_bg_color;
                }
            }
        }

        button {
            cursor: pointer;
            width: 350px;
            height: 45px;
            background-color: $item_hover_bg_color;
            text-transform: uppercase;
            letter-spacing: 3px;
            border-radius: 20px;
            border: none;
            font-weight: 700;
            font-size: 15px;

            &:hover {
                background-color: $white;
            }
        }
    }

    #thank_container {
        background-color: $main_bg_color;
        height: 410px;
        width: 410px;
        padding: 30px;
        border-radius: 25px;
        @include display(none, none, none, column);

        .image {
            height: 245px;
            @include display(flex, space-around, center, column);

            p {
                background-color: $item_bg_color;
                color: $item_hover_bg_color;
                height: 35px;
                width: 200px;
                border-radius: 20px;
                @include display(flex, center, center, none);
            }
        }

        .text {
            height: 165px;
            @include display(flex, center, center, column);
            gap: 10px;

            h2 {
                font-size: 30px;
                color: $white;
            }

            p {
                color: $p_color;
                text-align: center;
            }
        }
    }
}

// Classe criada para facilitar a remoção de elementos da página
.hide {
    display: none !important;
}

// Classe criada para facilitar a adição de elementos da página
.show {
    display: flex !important;
}