@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100..900&display=swap');

$body_font_family: 'Overpass', sans-serif;

$white: hsl(0, 0%, 100%);
$p_font_size: 15px;

$body_bg_color: hsl(216, 12%, 8%);

$main_bg_color: hsl(213, 19%, 18%);

$p_color: hsl(217, 12%, 63%);

$item_hover_bg_color: hsl(25, 97%, 53%);
$item_bg_color: hsla(217, 12%, 63%, 0.100);